.Footer-container {
    width: 100%;
    height: 20vh;
    background-color: rgba(59, 147, 247, 0.925);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

 .tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;

}

.tarjetaAbajo{
    display: flex;
    align-items: center;
    
}  


